<b>Q {{   questionNumber   }} )</b>
{{  obj.getquestion() }}
<br>
<br>
<input type= "radio"  [(ngModel)]="radioData" [value]="obj.getoptionA()"  id = "1">&nbsp;&nbsp;{{  obj.getoptionA() }}
<br>
<br>
<input type= "radio"  [(ngModel)]="radioData" [value]="obj.getoptionB()"  id = "2">&nbsp;&nbsp;{{  obj.getoptionB()  }}
<br>
<br>
<input type= "radio" [(ngModel)]="radioData" [value]="obj.getoptionC()"  id = "3">&nbsp;&nbsp;{{  obj.getoptionC()  }}
<br>
<br>
<input type= "radio" [(ngModel)]="radioData" [value]="obj.getoptionD()"  id = "4">&nbsp;&nbsp;{{  obj.getoptionD()  }}
<br><br>
<div>
<button class="btn btn-primary" (click)="checkAnswer()"  [disabled]="answerFlag" >Submit</button>&nbsp;&nbsp;
<button class="btn btn-primary" [disabled]="correctFlag"  (click)="nextQuestion()">Next</button>
</div>
<b>{{msg}}</b>
<div *ngIf="finalflag">
<b> {{finalMsg}}</b><a  routerLink="scoreBoard"  (click)="navigation()"><em>click here to see result</em></a>
</div>
